.cli-window{
    height: 100%;
    overflow: auto;
    padding-bottom: 10rem;

    div[name="react-console-emulator"]{
        height: 100%;
        background-color: transparent !important;
    }
}   