.cards{
overflow:auto;
height: 100%;
padding: 1rem;

display: flex;
flex-wrap: wrap;
gap: 2rem;
justify-content: center;
}

.card{

        flex-grow: 1;
        flex-basis: 20rem;
        max-width: 19.5rem;
        padding-inline: 1rem;
        padding-block: 1rem;
        padding-bottom:6rem;
        background-color: #000000;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 0.7rem;

        img{
            width: 100%;
            border-radius: 1rem;
        }
        h1{
            font-size: 1.5rem;
            font-weight: 500;
        }
        .description{
            word-spacing: 0.3rem;
            opacity: 0.7;
        }
        .tags{
            flex-wrap: wrap;
            display: flex;
            gap: 0.5rem;
            .tag{
                width: fit-content;
                background-color: #33333b;
                padding-inline: 1.25rem;
                padding-block: 0.7rem;
                border-radius: 0.6rem;

                white-space: nowrap;
            }
            
        }
        .urls{
            display: flex;
            gap: 1rem;
            a{
                text-decoration:dotted;
                color: #d6d9db;
                font-weight: 500;
            }
        }
        
}

