.window{
    background-color: #252424;
    height: 100%;
    
    border-radius: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    overflow: hidden;
}

.nav{

    display: flex;
    justify-content:baseline;
    align-items: center;
    gap: 10px;
    border-bottom: whitesmoke 0.5px   solid;
    .dots{
        display: flex;
        padding: 10px;

    }
    .dot{
        height: 13px;
        width: 13px;
        border-radius: 50%;
        margin: 5px;
        background-color: #fff;
        

        &.red{
            background-color: #ff605c;
            cursor: default;
        }
        &.yellow{
            background-color: #ffbd44;
        }
        &.green{
            background-color: #00ca56;
        }
       
    }
    .title{
        color: #c3c1c1;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 15px;
    }



    



}

.main-content{
    height: 100%;
}